@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Cuisine>;

<h2 class="cuisine">Cuisines:</h2>
@if (@Model.Count == 0)
{
  <h3 class="cuisine">There are no cuisines on your list.</h3>
}
<div class="card cuisineCard">
  <ul>
    @foreach (Cuisine cuisine in Model)
    {
      <li class="listItem">@Html.ActionLink($"{cuisine.cuisineName}", "Details", new { id = cuisine.cuisineId })</li>
    }
  </ul>
</div>

<p class="cuisine">@Html.ActionLink("Add new cuisine", "Create")</p>
