@{
  Layout = "_Layout";
}

<h1>Welcome to Best Restaurants!</h1>
<p>Here you'll find a list of all the best restaurants in town categorized by the type of cuisine they serve. Click @Html.ActionLink("HERE", "Index", "Cuisines") to select a cuisine and see the corresponding restaurants.</p><br>