@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.restaurantName)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back To List", "Index")