@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

<h1 class="cuisine">Restaurants:</h1>

@if (@Model.Count == 0)
{
  <h3 class="cuisine">No Restaurants have been added yet!</h3>
}
<ul>
@foreach(Restaurant restaurant in Model)
{
  <li class="listItem">@Html.ActionLink($"{restaurant.restaurantName}", "Details", new { id = restaurant.restaurantId }) | @restaurant.Cuisine.cuisineName</li>
}
</ul>

<p class="cuisine">@Html.ActionLink("Add new Restaurant", "Create")</p>